@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

main {
    font-family: Poppins, serif;
}

h1, h2, h3, h4 {
    font-family: Sigmar, serif;
}

footer,figcaption {
    font-family: "IBM Plex Serif", serif;
}

button {
    padding: 4px 10px;
    border-radius: 10px;
    border-color: white;
    font-family: Poppins, serif;
    font-size: 17px;
    font-weight: bold;
    transition: transform 0.1s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

input {
    border-radius: 4px;
    padding: 4px 10px;
}

a, a:link, a:visited{
    color: darkred;
}

hr {
    border: none;
    border-top: 2px solid darkred;
    margin: 2rem 0;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}