@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

main {
    font-family: Poppins, serif;
}

h1, h2, h3, h4 {
    font-family: Sigmar, serif;
}

footer,figcaption {
    font-family: "IBM Plex Serif", serif;
}

button {
    padding: 4px 10px;
    border-radius: 10px;
    border-color: white;
    font-family: Poppins, serif;
    font-size: 17px;
    font-weight: bold;
    transition: transform 0.1s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

input {
    border-radius: 4px;
    padding: 4px 10px;
}

a, a:link, a:visited{
    color: darkred;
}

hr {
    border: none;
    border-top: 2px solid darkred;
    margin: 2rem 0;
}

body {
    background-color: #f7f3ee;
    font-family: Poppins, serif;
    color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    text-align: left;
    padding: 12px;
    background-color: #f2eae2;
    font-weight: 600;
}

td {
    padding: 10px 12px;
    border-bottom: 1px solid #f1f1f1;
}

tr:hover {
    background-color: #faf6f2;
}

.main-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    margin-top: 20px;
}

.nutri-logo {
    width: 75px;
    height: 75px;
    object-fit: contain;
    display: block;
}

.page-wrapper {
    max-width: 900px;
    margin: 40px auto;
    position: relative;
}

.nav-container {
    max-width: 900px;
    margin: 40px auto 20px auto;
    padding: 15px 25px;
    background-color: #9898989f;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);

    position: sticky;
    top: 0;
    z-index: 10;
    height: 80px;
    display: flex;
    align-items: center;
}

.app-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}