<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>NutriLog</title>
        <link rel="stylesheet" type="text/CSS" href="{{ url_for('static', filename='stylesheet.css') }}">
        {% block headscript %}{% endblock %}
    </head>
    <body>
        <a href="{{ url_for('signup_page') }}">Sign Up</a>
        <a href="{{ url_for('login_page') }}">Login</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% block content %}{% endblock %}
    </body>
</html>